.back {
    margin: 0 0 10px 0 !important;
}

.back a {
    color: white;
}

.developer-profile {
    width: 100%;

}

.avatar-profile {
    float: left;
    width: 250px;
}

.avatar-profile a img {
    width:100%;
}

.dev-info-profile {
    float: left;
    padding-left: 10px;
    width: 62%;

}

.info-list {
    padding: 5px 0 0 0;
    font-size: 15px;
}

.header-developer-profile {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.header-developer-profile h4 {
    display: inline-block;
    margin: 0;
    padding: 15px 5px;
}

.techs-skills, .projects {
    margin: 20px 0 0 0;
}

form {
    width: 200px;
    margin-top: 10px;
}

input[type="submit"] {
    margin: 5px 0 0 0;
}

@media screen and (max-width: 744px) and (min-width: 601px) {
    .dev-info-profile {
        float: left;
        width: 67%;
    }

    .header-developer-profile h4 {
        display: inline-block;
        margin: 0;
        padding: 15px 5px;
    }
}

@media screen and (max-width: 600px) and (min-width: 380px){
    .avatar-profile {
        /*margin-left: 25%;*/
        /*width: 150px;*/
        /*padding: 10px 0 10px;*/
    }

    .dev-info-profile {
        float: left;
        width: 100%;
    }

    .header-developer-profile h4 {
        display: inline-block;
        margin: 0;
        padding: 15px 5px;
    }
}

@media screen and (max-width: 380px) {
    /*.avatar-profile {*/
        /*margin-left: 20%;*/
    /*}*/
    .dev-info-profile {
        float: left;
        width: 100%;
    }

    .developer-profile {
        min-width: 250px;
    }
}