.back {
    margin: 0 0 10px 0 !important;
}

.back a {
    color: white;
}

.developer-profile {
    width: 100%;

}

.avatar-profile {
    float: left;
    width: 250px;
}

.avatar-profile a img {
    width:100%;
}

.dev-info-profile {
    float: left;
    padding-left: 10px;
    width: 62%;

}

.info-list {
    padding: 5px 0 0 0;
    font-size: 15px;
}

.header-developer-profile {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.header-developer-profile h4 {
    display: inline-block;
    margin: 0;
    padding: 15px 5px;
}

.techs-skills, .projects {
    margin: 20px 0 0 0;
}

form {
    width: 200px;
    margin-top: 10px;
}

input[type="submit"], button[type="reset"] {
    margin: 5px 0 0 0;
}

.companies .well {
    background-image: none;
    -webkit-background-image: none;
    background-color: #ffffff;
}

.companies .well form {
    width: 100%;
}

#collapseExample > .well > form {
    width: 100%;
}

.empty-table {
    display: block;
    padding-top: 40px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #CCCCCC;
}

.empty-table span {
    color: #969696;
}

@media screen and (max-width: 744px) and (min-width: 601px) {
    .dev-info-profile {
        float: left;
        width: 67%;
    }

    .header-developer-profile h4 {
        display: inline-block;
        margin: 0;
        padding: 15px 5px;
    }
}


.thumbnail {
    padding: 0px;
}
.panel {
    position: relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position: absolute;
    top:11px; left:-16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width: 7px;
    border-right-color:#f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}
.panel>.panel-heading:before{
    border-right-color: #ddd;
    border-width: 8px;
}

@media screen and (max-width: 600px) and (min-width: 380px){
    .avatar-profile {
        /*margin-left: 25%;*/
        /*width: 150px;*/
        /*padding: 10px 0 10px;*/
    }

    .dev-info-profile {
        float: left;
        width: 100%;
    }

    .header-developer-profile h4 {
        display: inline-block;
        margin: 0;
        padding: 15px 5px;
    }
}

@media screen and (max-width: 380px) {
    /*.avatar-profile {*/
        /*margin-left: 20%;*/
    /*}*/
    .dev-info-profile {
        float: left;
        width: 100%;
    }

    .developer-profile {
        min-width: 250px;
    }
}